SchoolProjectArrangement/Eclipse/WebService_service/src/META-INF/wsdl/mywsdl.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
		xmlns:tns="http://www.example.org/mywsdl/" 
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
		xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
		name="MyServiceImplService" 
		targetNamespace="http://www.example.org/mywsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/mywsdl/">
    	<!-- 定义元素 -->
    	<xsd:element name="add"  type="tns:add"/>
    	<xsd:element name="addResponse" type="tns:addResponse"/>
    	<xsd:element name="divide" type="tns:divide"/>
    	<xsd:element name="divideResponse" type="tns:divideResponse"/>
   		<!-- 定义头部验证信息，一般是一个对象 -->
   		<xsd:element name="licenseInfo" type="xsd:string"/>
   		<!-- 定义元素类型 -->
    	<xsd:complexType name="add">
    		<xsd:sequence>
    			<xsd:element name="a" type="xsd:int"/>
    			<xsd:element name="b" type="xsd:int"/>
    		</xsd:sequence>
    	</xsd:complexType>
    	<xsd:complexType name="addResponse">
    		<xsd:sequence>
    			<xsd:element name="addResult" type="xsd:int"/>
    		</xsd:sequence>
    	</xsd:complexType>
    	<xsd:complexType name="divide">
    		<xsd:sequence>
    			<xsd:element name="num1" type="xsd:int"/>
    			<xsd:element name="num2" type="xsd:int"/>
    		</xsd:sequence>
    	</xsd:complexType>
    	<xsd:complexType name="divideResponse">
    		<xsd:sequence>
    			<xsd:element name="divideResult" type="xsd:int"/>
    		</xsd:sequence>
    	</xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <!-- 编写message -->
  <wsdl:message name="add">
  		<wsdl:part name="add" element="tns:add"/>
  </wsdl:message>
  <wsdl:message name="addResponse">
  		<wsdl:part name="addResponse" element="tns:addResponse"/>
  </wsdl:message>
  <wsdl:message name="divide">
  		<wsdl:part name="divide" element="tns:divide"/>
  </wsdl:message>
  <wsdl:message name="divideResponse">
  		<wsdl:part name="divideResponse" element="tns:divideResponse"/>
  </wsdl:message>
  <wsdl:message name="licenseInfo">
  		<wsdl:part name="licenseInfo" element="tns:licenseInfo"></wsdl:part>
  </wsdl:message>
  
  
  <wsdl:portType name="IMyService">     <!-- 对象接口 -->
   		<wsdl:operation name="add">		<!-- 操作方法 -->
   			<wsdl:input message="tns:add"/>
   			<wsdl:output message="tns:addResponse"/>
   		</wsdl:operation>
   		
   		<wsdl:operation name="divide">
   			<wsdl:input message="tns:divide"/>
   			<wsdl:output message="tns:divideResponse"/>
   		</wsdl:operation>
  </wsdl:portType>
  
  <!-- 编写binging,指定编码样式literal -->
  <wsdl:binding name="myServiceSOAP" type="tns:IMyService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="add">
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header use="literal" part="licenseInfo" message="tns:licenseInfo"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="divide">
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <!-- 编写Servcie -->
  <wsdl:service name="MyServiceImplService">
    <wsdl:port binding="tns:myServiceSOAP" name="MyServiceImplPort">
      <soap:address location="http://localhost:8989/ms"/>		<!-- 指定发布地址 -->
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
